<%= form_for article do |f| %>
  <ul class="nav nav-tabs my-xs-20" role="tablist">
    <li class="active"><a role="tab" href="#basic" data-toggle="tab">Basics</a></li>
    <li ><a role="tab" href="#carousel" data-toggle="tab">Carousel</a></li>
    <li ><a role="tab" href="#content" data-toggle="tab">Content</a></li>
    <li ><a role="tab" href="#seo" data-toggle="tab">SEO</a></li>
  </ul>
  <div class="tab-content">
    <!-- Basic Info Panel -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <div class="form-group">
        <%= f.label :author, "Author" %>
        <%= f.select :author, options_for_select(Author.pluck(:name)+ ["other"]), {include_blank: " - SELECT - "}, class: "form-control" %>
        <%= f.text_field :custom_author, class: "form-control invisible" %>
      </div>
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description, "Description" %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :image, "Cover Image" %>
        <%= f.file_field :image, class: "dropify", "data-default-file": @admin_article.image %>
        <%= f.label :cover_image_alt, "Cover Image Alt" %>
        <%= f.text_field :cover_image_alt, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :tag_list, "Tags (seperate by comma)" %>
        <%= f.text_field :tag_list, input_html: {value: f.object.tag_list.to_s}, class: "form-control" %>
      </div>
    </div>
    <!-- carousel Panel-->
    <div role="tabpanel" class="tab-pane fade row" id="carousel">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <% if @admin_carousels.present? %>
        <table class="table">
          <tbody class="list-group sortable ">
            <% @admin_carousels.each_with_sortable_id do |s, sortable_id| %>
            <tr id="<%= sortable_id %>" class="list-group-item pb-xs-15" style="border: 1px solid #ddd">
              <td class="col-xs-10">
                <%= image_tag s.image, class: "wt-100" %>
              </td>
              <td class="col-xs-2 text-center">
                <%= link_to s, method: :delete, class: "btn btn-danger" do %><i class="fa fa-bomb fa-fw"></i><% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7">
        <div id="carousels">
          <div class="links">
            <%= link_to_add_association 'Add Image', f, :carousels, class: "btn btn-default form-control" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Panel -->
    <div role="tabpanel" class="tab-pane fade" id="content">
      <div>
        <%= f.label :content, "Content" %>
        <%= f.cktext_area :content , class: "form-control text-area" %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="seo">
      <div class="form-group">
        <%= f.label :permalink, "URL" %>
        <%= f.text_field :permalink, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :meta_description, "Meta Description text-area" %>
        <%= f.text_area :meta_description, class: "form-control text-area" %>
      </div>
    </div>
  </div>
  <!-- Form Submit--> 
  <div class="my-xs-20">
    <%= f.submit 'confirm', class: "btn btn-primary form-control"%>
    <%= link_to "cancel", admin_articles_path, class: "btn btn-default form-control mt-xs-20" %> 
  </div>

<% end %>

<%= render 'admin/share/dropify' %>

<!-- <div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a role="tab" href="#Title" data-toggle="tab">Title</a></li>
    <li ><a role="tab" href="#Des" data-toggle="tab">Des</a></li>
    <li ><a role="tab" href="#Image" data-toggle="tab">OG Image</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Title">aaa</div>
    <div role="tabpanel" class="tab-pane fade" id="Des">bbb</div>
    <div role="tabpanel" class="tab-pane fade" id="Image">ccc</div>
  </div>
</div> -->