<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="row">
    <h1><%= @article.title %></h1>
    <h5><%= @article.author %></h5>
    <h5><%= @article.created_at.to_date %></h5>
  </div>
  <div class="row">
    <%= image_tag @article.image.url, alt: "#{@article.cover_image_alt}", style: "width: 100%"%>
  </div>

  <div class="row">
    <div class="editor">
      <%= @article.content.html_safe %>
    </div>
  </div>

  <%= editor_tag @article %>           
  <%= tagging_tag @article %>  
  <%= render 'disqus' %>

</div>

