<%= form_for author do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nickname, "Nick Name" %>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :summary, "Author Summary" %>
    <%= f.text_area :summary, class: "form-control text_area" %>
  </div>

  <%= f.submit 'confirm', class: "btn btn-primary form-control mt-xs-20"%>
  <%= link_to "cancel", admin_authors_path, class: "btn btn-default form-control mt-xs-20" %>

<% end %>