<style type="text/css">

</style>

<h1>Authors List</h1>
<%= link_to "Add Authors", new_admin_author_path, class: "btn btn-default btn-add-new my-xs-20" %>
<table class="table xs-transform">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-2">Name</td>
      <td class="col-sm-2">Nickname</td>
      <td class="col-sm-7">Summary</td>
    </tr>
  </thead>
  <tbody>
    <% @admin_authors.each do |author|%>
    <tr>
      <td class="col-sm-2"><%= author.name %></td>
      <td class="col-sm-2"><%= author.nickname %></td>
      <td class="col-sm-7"><%= author.summary %></td>
      <td class="col-xs-12 col-sm-1">
        <%= link_to edit_admin_author_path(author), class: "btn btn-primary" do %>
          <i class="fa fa-bolt fa-fw"></i>
        <% end %>
        <%= link_to admin_author_path(author), method: "delete", data: { confirm: "Sure?" }, class: "btn btn-danger", style: "margin: 3px 0" do %>
          <i class="fa fa-bomb fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>