<%= form_for pin do |f| %>
  <div class="form-group">
    <%= f.label :all_results, "All" %>
    <%= f.file_field :all_results, class: "form-control dropify", "data-default-file": @admin_pin.all_results %>
  </div>
  <div class="row">
    <% Pin.first.attributes.to_a[2..13].each_with_index do |pin, index| %>
    <div class="form-group col-xs-12 col-sm-4">
      <%= f.label pin.first.to_sym, "#{pin[0].capitalize}" %>
      <%= f.file_field pin.first.to_sym, class: "form-control dropify", "data-default-file": "#{"/images/pin/"+pin[0].to_s+"/1/"+pin[1].to_s}" %>
    </div>
    <% end %>
  </div>  
  <%= f.submit 'confirm', class: "btn btn-primary form-control my-xs-20" %>
<% end %>

<%= render 'admin/share/dropify' %>

<!-- <div class="form-group col-xs-12 col-sm-4">
    <%#= f.label :jan, "Jan" %>
    <%#= f.file_field :jan, class: "form-control dropify", "data-default-file": @admin_pin.jan %>
</div> -->