 <%= form_for slider do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url, class: "form-control", placeholder: "Format: /url" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Slide Image" %>
    <%= f.file_field :image, class: "dropify", "data-default-file": @admin_slider.image %>
  </div>

  <%= f.submit 'confirm', class: "btn btn-primary form-control mt-xs-20" %>
  <%= link_to "cancel", admin_sliders_path, class: "btn btn-default form-control mt-xs-20" %>

<% end %>

<%= render 'admin/share/dropify' %>