<%= link_to "Add Sliders", new_admin_slider_path, class: "btn btn-default btn-add-new my-xs-20" %>
<table class="table">
  <tbody class="list-group sortable">
    <% @admin_sliders.each_with_sortable_id do |slider, sortable_id|%>
        <tr id="<%= sortable_id %>" class="list-group-item">
          <td class="col-sm-3 col-md-2"><%= image_tag slider.image, class: "wt-100" %></td>
          <td class="col-sm-4 hidden-xs"><%= slider.title %></td>
          <td class="col-sm-4 hidden-xs"><%= slider.url %></td>
          <td class="col-sm-1">
            <%= link_to edit_admin_slider_path(slider), class: "btn btn-primary" do %><i class="fa fa-fw fa-bolt"></i> <% end %>
            <%= link_to admin_slider_path(slider), method: "delete", data: { confirm: "Sure?" }, class: "btn btn-danger", style: "margin:3px 0" do %><i class="fa fa-fw fa-bomb"></i><% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>