<div class="nav-header">
      <%= link_to root_path do %>
        <h1 class="nav-title"><%= @site_name %></h1>
      <% end %>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <%= link_to "文章", articles_path %>
    <%= link_to "作者", authors_path %>
    <%= link_to "https://www.pinterest.com/#{System.first.pinterest_id}", target: "_blank" do %>
      <i class="fa fa-pinterest" style="font-size: 30px"></i>
    <% end %>
  </div>