<!DOCTYPE html>
<html>
  <head>
    <title>Funario | Backyard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Funario</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class=""><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                  <li><%= link_to 'Articles', admin_articles_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>   
                    <% else %>
                    <%= link_to 'Login', new_user_session_path  %>  
                    <% end %>
                  </li>
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="notification">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(".nav.navbar-nav li a").on("click", function() {
        $(this).closest('li').siblings().removeClass("active");
        $(this).closest('li').addClass("active");
      });
    </script>
  </body>
</html>
